Repository nakrovati/password-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: add title for error page
  error.vue
Due: prettier --write, eslint --fix

chore: add tsconfig.json to the server directory
  server/tsconfig.json
Due: prettier --write

chore: bump deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add .js ext to lint script
  .eslintrc.json
  package.json
Due: prettier --write

docs: add README
  README.MD
Due: none

chore: add missing husky install script
  package.json
Due: prettier --write

feat: add dark theme
  app.vue
  components/TheGeneratedPassword.vue
  components/TheIntro.vue
  components/ThePasswordCustomizingForm.vue
  error.vue
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,yml,yaml,json}) or (any of: *.{js,ts,vue})
  eslint --fix: any of: *.{js,ts,vue}
